@import "bootstrap/scss/bootstrap";

footer p{ 
    font-weight: 500;
    color: black;
    text-align: center;
    font-weight: 100;
}

footer{
    width: 100%;
    background-color: rgb(255, 255, 255);
}